@model List<Domain.Entities.FrontEnd.IdeasPaging>
@{
    string date = string.Empty;
    Domain.Entities.FrontEnd.Video video = null;
}
@if(Model.Count > 0)
{
    foreach(Domain.Entities.FrontEnd.IdeasPaging idea in Model){
        video = Business.Utils.GetVideoFromUrl(idea.Video);
<div class="top-item2">
    <img src="@Business.Utils.fixLocalUserImagePath(idea.UserImage)" alt="avatar" />
    <div class="top-item-txt2">
        <h3>@idea.UserNames</h3>
        <div class="idea-click-area" data-id="@idea.IdeaId" data-friendly="@idea.Friendlyurlid">
            <p>@idea.Text</p>
            <div class="admin-top-idea">
                @Html.Partial("_AdminBlock", new Domain.Entities.FrontEnd.AdminBlock() { id = idea.IdeaId.Value, type = "idea", email = idea.Email, location = "top-ideas" })
            </div>
            <a>@Resources.Extend.Messages.SEEMORE</a>
            <div class="clear"></div>
            @if(!string.IsNullOrEmpty(idea.Image) && video == null){
            <img src="~/files/ideas/@idea.Image" alt="idea image"/>
            }
            @if(video != null){
                if (video.Type == "youtube") {
            <img src="http://img.youtube.com/vi/@video.ID/0.jpg" alt="@video.ID" />
                }
                else if (video.Type == "vimeo") {
            <img data-id="@video.ID" class="vimeo-image" alt="@video.ID" />
                }
            }
        </div>
    </div>
</div>
<div class="clear"></div>
    }
}
else
{
<div id="no-ideas-top-sorry"></div>
}