@model List<Domain.Entities.FrontEnd.Pulse>
@{
  Layout = null;
  string content = Url.Content("~/").TrimEnd('/');    
}

<div class="contenido">
  @Html.Partial("_AdminBlock", new Domain.Entities.FrontEnd.AdminBlock() { id = (int)Domain.Entities.Basic.ForntEndEditableType.PULSES_DESCRIPTION, type = "frontend" })
  <div class="contenido-tit">
    <div class="content-tooltip">
      <div class="comunidad-info" style="display: block; opacity: 0; font-family: helvetica, arial, sans-serif; font-size: 11px; text-align: center; color: #656565;">
        <div class="tooltip">@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.PULSES_TOOLTIP)</div>
      </div>
      <a>@Resources.Global.Messages.CHALLENGES</a>
    </div>
    @*<h2>@ViewBag.TXTUNTTRA</h2>*@
  </div>
  <div class="clear"></div>
</div>
@if (Model.Count > 0)
{
  <div id="search-list">
    @Html.Partial("_PulseList", Model)
  </div>
}
else
{
  <h3>@ViewBag.TXTRESUL</h3>
}
