@model Dictionary<string, string>
@{
  int total = 0;
}
@if (Model.Count > 0)
{
  <div>
    <div class="mm2-container-box-barras2">
      @{
  total = Model.Sum(p => Convert.ToInt32(p.Value));
      }
      @foreach (KeyValuePair<string, string> profession in Model)
      {
        <div class="mm2-container-barraest">
          <div class="mm2-barraest1"></div>
          <div class="mm2-barraest2" data-bar-percent="profession" data-value="@profession.Value" data-percent="@(Convert.ToInt32(profession.Value) * 100 / total)">
            <div class="mm2-barraest-text">@profession.Key:</div>
          </div>
          <div class="mm2-barraest-text">@profession.Key:</div>
          <div class="mm2-barraest-text2" data-bar-value="profession" data-value="@profession.Value">@Convert.ToInt32(profession.Value).ToString("##,##0")</div>

          <div class="clear"></div>
        </div>
      }
    </div>
  </div>
}
else if (ViewBag.PageIndex == null || ViewBag.PageIndex == 0)
{
  <div class="chart-margin">
    <h5>@ViewBag.TXTNOHAYRESBUS</h5>
  </div>
}
