@model List<Domain.Entities.User>
@{
  Layout = null;
  string content = Url.Content("~/").TrimEnd('/');    
}
<script src="~/resources/scripts/masonry.pkgd.min.js"></script>
@if (!ViewBag.HideHeader)
{
  <div class="contenido">
    @Html.Partial("_AdminBlock", new Domain.Entities.FrontEnd.AdminBlock() { id = (int)Domain.Entities.Basic.ForntEndEditableType.USERS_DESCRIPTION, type = "frontend" })
    <div class="contenido-tit">
      <div class="comunidad-info" style="display: block; opacity: 0; font-family: helvetica, arial, sans-serif; font-size: 11px; text-align: center; color: #656565;">
        <div class="tooltip">@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.USERS_TOOLTIP)</div>
      </div>
      <a href="@content/parceros">@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.USERS_PLURAL)</a>
      <h2>@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.USERS_DESCRIPTION)</h2>
    </div>
    <div class="clear"></div>
  </div>
}
<div id="search-list" class="user-search-result">
  @if (Model.Count > 0)
  {
    @Html.Partial("_UserList", Model)  
  }
  else
  {
    <h3>@Resources.Extend.Messages.NORESULTPARAMETRO</h3>
  }
</div>