@model Webcore.Models.Challenges.IndexModel

@{
    Layout = "~/Views/Layouts/_Common.cshtml";
}

<div class="contenedor-home">
    <div class="contenido">
        <div class="contenido-tit">
            <div class="content-tooltip">               
                <a>@Resources.Global.Messages.CHALLENGES</a>
            </div>
            <div id="content-categories">
                <ul>
                    @foreach (var category in Model.Categories)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home", new { categoryId = category.CategoryId })" title="@category.Name">
                                <div class="category">
                                    <div class="category-title">
                                        <h2>@category.Name</h2>
                                        <img src="@Url.Content(string.Format("~/Resources/Images/categories/{0}", category.Image))" alt="@category.Name" />
                                    </div>                                    
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

