@model Domain.Entities.FrontEnd.UserMail
@{
    Layout = null;
    string siteUrlRoot = (("http://" + Request.Url.Host + Request.ApplicationPath).TrimEnd('/'));
    Domain.Entities.FrontEnd.Video video = null;
    string link = string.Empty;
}
@if(Model != null)
{
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mi Medellin</title>        
    </head>
    <body style="margin:0; font-family:helvetica, arial, sans-serif">
        <div style="width:800px">
            <div style="float:left;width:100%;">                
                <div style="clear:both"></div>
                <div><img src="@(siteUrlRoot)/resources/images/mail/cabezote.jpg" /></div>
            </div>
            <div style="clear:both"></div>
            <div style="margin:0 auto; width:710px;">                
                <div style="float:left; color:#999; text-transform:uppercase; font-size:18px;margin:10px 0 10px 0;"><b style="color:#8e0565; font-weight:Bold;">Hola,</b> @Model.objUser.Names</div>
                <div style="clear:both"></div>
                @if(Model.CollIdeas.Count > 0)
                {
                <div style="float:left; color:#00b7f1; font-size:26px; text-transform:uppercase; margin:0px 0 5px 0; font-weight:bolder;">Cuando tú hablas, la ciudad escucha.						</div>
					<p style="color:#787878; font-size:16px; clear:both; margin:5px 0 5px 0;">Descubre cuantos likes y comentarios ha generado tu participación.</p>
                <div style="clear:both"></div>
                <div style="float:left; border-bottom:1px solid #ddd; width:100%; height:2px;"></div>
                <div style="clear:both"></div>                
                    foreach (Domain.Entities.FrontEnd.MailIdeasPaging idea in Model.CollIdeas)
                    {
                        link = string.Concat(siteUrlRoot, "/", idea.Friendlyurlid);
                        video = Business.Utils.GetVideoFromUrl(idea.Video);
                <a href="@(link)" target="_blank"><div style="float:left; border-bottom:1px solid #ddd; padding:0 0 10px 0; width:100%; margin:20px 0 0 0;">
                        @if (!string.IsNullOrEmpty(idea.Image) || (video != null && video.Type == "youtube"))
                        {
                        <div style="float:left; width:160px; margin:0 10px 0 0;">
                            @if(!string.IsNullOrEmpty(idea.Image) && video == null)
                            {
                            <img src="@(siteUrlRoot)/files/ideas/@idea.Image" style="width:100%;" alt=""/>
                            }
                            @if(video != null)
                            {
                                if (video.Type == "youtube") 
                                {
                            <img src="http://img.youtube.com/vi/@video.ID/0.jpg" style="width:100%;" />
                                } 
                            }
                        </div>
                        }
                    <div style=" float:left; width:530px;">
                        <div style="float:left; font-weight:bolder; color:#8e0565;text-transform:uppercase;font-size:15px;width:100%;">@idea.objContent.Name</div>
                        <div style="clear:both"></div>
                        <div style="float:left;font-size:13px;color:#787878;width:100%;max-height:45px;overflow:hidden;">
                            @idea.Text
                        </div>
                        <div style="float:left; margin:10px 10px 0 0;font-weight:bold;">
                            <a href="@(link)" target="_blank"><span style="float:left; width:30px; height:31px; background:url(@(siteUrlRoot)/resources/images/mail/gusta.png) center no-repeat; background-color:#8e0464;border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px;"></span><span style="float:left; height:31px; background-color:#730150; color:#fff; padding:0 5px; border-radius: 0px 3px 3px 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; font-size:13px; line-height:2.4;">@idea.Likes</span></a>
                        </div>
                        <div style="float:left; margin:10px 10px 0 0;font-weight:bold;">
                            <a href="@(link)" target="_blank"><span style="float:left; width:30px; height:31px; background:url(@(siteUrlRoot)/resources/images/mail/nogusta.png) center no-repeat; background-color:#8e0464; border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px;"></span><span style="float:left; height:31px; background-color:#730150; color:#fff; padding:0 5px; border-radius: 0px 3px 3px 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; font-size:13px; line-height:2.4;">@idea.NoLikes</span></a>
                        </div>
						<div style="float:left; margin:10px 10px 0 0;font-weight:bold;">
                            <a href="@(link)" target="_blank"><span style="float:left; width:30px; height:31px; background:url(@(siteUrlRoot)/resources/images/mail/cmt.png) center no-repeat; background-color:#8e0464; border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; -webkit-border-radius: 3px 0px 0px 3px;"></span><span style="float:left; height:31px; background-color:#730150; color:#fff; padding:0 5px; border-radius: 0px 3px 3px 0px; -moz-border-radius: 0px 3px 3px 0px; -webkit-border-radius: 0px 3px 3px 0px; font-size:13px; line-height:2.4;">@idea.CommentsCount</span></a>
                        </div>
                    </div>
                </div></a>
                <div style="clear:both"></div>
                    }
                }
                
                @if(Model.CollChallenges.Count > 0)
                {
                <div style="clear:both"></div>
                <div style="float:left; color:#00b7f1; font-size:26px; text-transform:uppercase; margin: 20px 0 5px 0; font-weight:bolder;">Las buenas  ideas nos llevan a ese futuro donde queremos estar. </div>
                <div style="clear:both"></div>
                      foreach(Domain.Entities.FrontEnd.ChallengesPaging challenge in Model.CollChallenges)
                    {
                        link = string.Concat(siteUrlRoot, "/", challenge.Friendlyurlid);
                <div style="float:left; background-color:#f2f2f2; margin:10px 1px 0 0;  width:235px; height:321px;">
                    <div style="float:left; width:235px;">
					<div><img src="@(siteUrlRoot)/resources/images/mail/reto.jpg" /></div>
                        <a href="@(link)"><img style="width:235px;" src="@(siteUrlRoot)/files/@challenge.ContentId/511x320-@challenge.Image" /></a>
                    </div>
                    <div style="clear:both"></div>
                    <div style="float:left; font-size:15px; width:225px; padding:15px; color:#8e0565; text-transform:uppercase;  font-weight:bolder">
                        @challenge.Name
                    </div>
                    <div style="clear:both"></div>
                    <div style="float:left">
                        <a href="@(link)" style="background-color:#8e0565; color:#fff; padding:0 10px;height:30px;line-height:2.1; text-transform:uppercase; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;float:left; margin:0 0 0 15px; text-decoration:none; font-weight:bolder">participa</a>
                    </div>
                </div>
                <div style="clear:both"></div>
                    }
                }
				
				@if(Model.CollQuestions.Count > 0)
                {
                
                <div style="clear:both"></div>
				      foreach(Domain.Entities.FrontEnd.QuestionsPaging question in Model.CollQuestions)
                    {
                        link = string.Concat(siteUrlRoot, "/", question.Friendlyurlid);
                <div style="float:left; background-color:#f2f2f2; margin:10px 1px 0 0;  width:235px; height:328px;">
                    <div style="float:left; width:235px;">
							
							<div><img src="@(siteUrlRoot)/resources/images/mail/pregunta.jpg" /></div>
                        <a href="@(link)"><img style="width:235px;" src="@(siteUrlRoot)/files/@question.ContentId/511x320-@question.Image" /></a>
                    </div>
                    <div style="clear:both"></div>
                    <div style="float:left; font-size:15px; width:215px; height:70px; padding:15px; color:#8e0565; text-transform:uppercase; font-weight:bolder">
                        @question.Name
                    </div>
                    <div style="clear:both"></div>
                    <div style="float:left">
                        <a href="@(link)" style="background-color:#8e0565; color:#fff; padding:0 10px;height:30px;line-height:2.1; text-transform:uppercase; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;float:left; margin:0 0 0 15px; text-decoration:none; font-weight:bolder">participa</a>
                    </div>
                </div>
                
                    }
                } 
                <div style="clear:both; height:1px;"></div>
                <div style="width:100%; clear:both; text-align:center; font-size:16px; color:#00b7f1; text-transform:uppercase; font-weight:bold; margin:20px 0;">Las acciones hablan más fuerte que los sueños. <br/><a href="@siteUrlRoot" style="color:#00b7f1">Cuéntanos, qué tienes en mente </a></div>
                <div style="clear:both"></div>
                <!--<div style="float:left; width:100%;text-align:center;">
					<a  style="background-color:#00b7f1; color:#fff; padding:10px 20px; line-height:2.1; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;text-transform:uppercase; text-decoration:none; font-weight:bolder">entra aquí</a>
                </div>-->
            </div>
            <div style="clear:both"></div>
	            <div style="margin:20px 0 0 0; width:100%; border-top:1px solid #ddd;">
	                <div style="margin:0 auto; width:710px;">
	                    <a style="float:left;margin:3px 3px 0 0;"><img src="@(siteUrlRoot)/resources/images/mail/marca1.png" /></a>
	                    <a style="float:left;margin:3px 3px 0 0;"><img src="@(siteUrlRoot)/resources/images/mail/marca2.png" /></a>
	                    <a style="float:left;margin:3px 3px 0 0;"><img src="@(siteUrlRoot)/resources/images/mail/marca3.png" /></a>
	                    <a style="float:left;margin:3px 3px 0 0;"><img src="@(siteUrlRoot)/resources/images/mail/marca4.png" /></a>
	                    <div style="float:right"><a><img src="@(siteUrlRoot)/resources/images/mail/dasigno.png" /></a></div>
	                </div>
	            </div>
        </div>
    </body>
</html>
}
