@model Webcore.Areas.Admin.Models.Labels
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    deleteLabel = function () {
        return confirm("@Resources.Extend.Messages.DELETE_ITEM");
    };

    searchtag = function () {
        window.location.href = '@Url.Action("Index", "Label", new { Area = "Admin" })?name=' + $('#txfind').val();
    };
</script>

<ul id="MenuP">
    <li class="Menubig">@Resources.Global.Messages.LIST</li>
    <li>@ViewBag.DETAIL</li>
</ul>
<div class="cont" align="left">
    <a class="hrefmen" href="@Url.Action("Detail", "Label", new { Area = "Admin" })">
        <img border="0" width="23" height="23" src="~/resources/images/25add.gif" />
        <span style="font-size: 25px; font-family: Segoe UI Light;">@Resources.Global.Messages.NEW</span></a>
    <a onclick="searchtag()" class="hrefmen" href="javascript:void(0);">
        <img border="0" width="23" height="23" src="~/resources/images/25search.gif" />
        <span>@Resources.Global.Messages.FIND</span></a>&nbsp;&nbsp;<input onkeypress="findsubm(event, function() { searchtag(); })" onblur="blurfind(this, '@Resources.Extend.Messages.FIND_BY_NAME')" onfocus="focusfind(this, '@Resources.Extend.Messages.FIND_BY_NAME')" id="txfind" class="textfind inactive" type="text" value='@(Request.QueryString["name"] != null ? Request.QueryString["name"] : Resources.Extend.Messages.FIND_BY_NAME)' />
    <hr />
    <ul id="listado">
        @foreach (Domain.Entities.Label item in Model.CollLabels)
        {
        <li><span class="sptitle">@item.Name</span><br />&nbsp;
            <span class="sptitle">@item.Translation</span><br />&nbsp;
            <a onclick="return deleteLabel()" href="@Url.Action("Delete", new { Area = "Admin", id = item.LabelId.Value })"><img title="@Resources.Global.Messages.DELETE" border="0" align="right" width="25" height="25" src="~/resources/images/25del.gif" /></a>
                <a href="@Url.Action("Detail", new { Area = "Admin", id = item.LabelId.Value })"><img title="@Resources.Global.Messages.EDIT" border="0" align="right" width="25" height="25" src="~/resources/images/25edit.gif" /></a>
        </li>            
        }
    </ul>
    <div align="right">
        @(new Business.Paginator(HttpContext.Current, Model.Pagininfo).GetPaginator())
    </div>
</div>

