@model List<Domain.Entities.FrontEnd.ExpiringChallenges>
@{
    Layout = null;
    string content = Url.Content("~/").TrimEnd('/');
    int percentage = 0;
    int endDay = 0;
    int days = 0;
    string link = string.Empty;
    bool ended = false;

    string buttonText = Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.BUTTON_CREATE_IDEA);
}
@if (Model.Count > 0)
{
<div class="contenido">
    <div class="contenido-tit">
        <div class="comunidad-info" style="display: block; opacity: 0; font-family:helvetica, arial, sans-serif; font-size:11px; text-align:center; color:#656565;">
            <div class="tooltip">@ViewBag.TXTGENSOL</div>
        </div>
        <a href="@content/retos">@ViewBag.RETOS</a>
        <h2>@ViewBag.TXTUNTTRA</h2>
    </div>
    <div class="clear"></div>
    @foreach (Domain.Entities.FrontEnd.ExpiringChallenges challenge in Model)
    {
        days = (int)Math.Ceiling((challenge.EndDate.Value - challenge.StartDate.Value).TotalDays);
        endDay = (int)Math.Ceiling((challenge.EndDate.Value - DateTime.Now).TotalDays);
        if (endDay > 0)
        {
            percentage = ((endDay * 100 / days) * -1) + 100;
            ended = false;
        }
        else
        {
            percentage = 100;
            ended = true;
        }
        link = string.Concat(content, "/", challenge.Friendlyurlid);
    <div class="contenido-historia">
        <a href="@(link)"><div class="finalizado" style="display:@(ended ? "block" : "none")"></div></a>
        <a href="@(link)"><img src="~/files/@challenge.ContentId/340x250-@challenge.Image" alt="@challenge.Name" /></a>
        <div class="clear"></div>
        <a href="@(link)"><p>@challenge.Name</p></a>
        <div class="clear"></div>
        <div class="contenido-historia-barra">
            <span></span>
            <div class="barra-color2@(ended ? " barra-color-finalizado" : "")"><span data-percent="@percentage"></span></div>
        </div>
        <div class="clear"></div>        
        <div class="content-tooltip">
        @switch(challenge.Type)
        {
            case Domain.Entities.Challenge.TypeChallenge.Participacion_Ciudadana:
        <div class="historia-item participacion2@(ended ? " participacion3gris" : "")">
            <span></span>
            <h1>@Resources.Extend.Messages.CITIZENPARTI</h1>
            <div class="comunidad-info" style="display: none; opacity: 0; font-family:helvetica, arial, sans-serif; font-size:11px; text-align:center; color:#656565; margin-left: -21px;">
                <div class="tooltip">@ViewBag.TXTPARCIUINI</div>
            </div>
        </div>
                break;
            case Domain.Entities.Challenge.TypeChallenge.Reto_Ciudad:
        <div class="historia-item ciudadana2@(ended ? " ciudadana2gris" : "")">
            <span></span>
            <h1>@Resources.Extend.Messages.CITYCHA</h1>
            <div class="comunidad-info" style="display: none; opacity: 0; font-family:helvetica, arial, sans-serif; font-size:11px; text-align:center; color:#656565; margin-left: -21px;">
                <div class="tooltip">@Resources.Extend.Messages.YOURCOULD</div>
            </div>
        </div>
                break;
        }
        </div>
        @if (!string.IsNullOrEmpty(challenge.Prize))
        {
        <div class="content-tooltip">
        <div class="historia-item premio2@(ended ? " premiogris" : "")">
            <span></span>            
            <h1>Premio</h1>                    
            <div class="comunidad-info" style="display: none; opacity: 0; font-family:helvetica, arial, sans-serif; font-size:11px; text-align:center; color:#656565; margin-left: -21px;">
                <div class="tooltip">@challenge.Prize</div>
            </div>
        </div>
        </div>
        }
        @if(challenge.People > 0)
        {
        <div class="historia-item unidos2@(ended ? " gris" : "")">
            <span>@challenge.Followers/@challenge.People</span>
            <h1>ya somos</h1>
        </div>
        }
        @if(!ended)
        {
        <div class="historia-item restantes2@(ended ? " gris" : "")">
            <span>@endDay</span>
            <h1>@ViewBag.TXTDIARES</h1>
        </div>
        }
        <div class="clear"></div>
        <div class="participa-block">
            <a href="@(link)">@buttonText</a>
            <div class="participa-comentarios">
                <h1>@challenge.Ideas</h1>
                <span></span>
            </div>
        </div>
    </div>
    }
</div>
}
