@{
  Layout = null;
  string content = Url.Content("~/").TrimEnd('/');  
}

<div id="editable-box" class="alerta">
  <div class="alerta-titulo">
    <h1>@ViewBag.TXTTEXTPULS</h1>
    <div class="alerta-cerrar">
      <img src="~/resources/images/mimedellin/cerrar.png" border="0" alt="icon" />
    </div>
  </div>
  <div class="clear"></div>

  <div class="editable-content">
    <div class="registro-item">
      <div class="registro-txt">@ViewBag.DESCRIPTION<span>:</span></div>
      <div class="editable-input">        
        <input type="text" maxlength="50" class="editable-value registro-input-editable" data-id="@((int)Domain.Entities.Basic.ForntEndEditableType.PULSES_DESCRIPTION)" data-type="text" value="@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.PULSES_DESCRIPTION)"/>        
      </div>
    </div>
  </div>

  <div class="editable-content">  
    <div class="registro-item">
      <div class="registro-txt">@ViewBag.TOOLTIP<span>:</span></div>
      <div class="editable-input">        
        <input type="text" maxlength="60" class="editable-value registro-input-editable" data-id="@((int)Domain.Entities.Basic.ForntEndEditableType.PULSES_TOOLTIP)" data-type="text" value="@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.PULSES_TOOLTIP)"/>        
      </div>
    </div>
  </div>    

  <div class="editable-content">  
    <div class="registro-item">
      <div class="registro-txt">@ViewBag.SINGULAR<span>:</span></div>
      <div class="editable-input">        
        <input type="text" maxlength="15" class="editable-value registro-input-editable" data-id="@((int)Domain.Entities.Basic.ForntEndEditableType.PULSES_SINGULAR)" data-type="text" value="@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.PULSES_SINGULAR)"/>        
      </div>
    </div>
  </div>    

  <div class="editable-content">  
    <div class="registro-item">
      <div class="registro-txt">@ViewBag.PRURAL<span>:</span></div>
      <div class="editable-input">        
        <input type="text" maxlength="15" class="editable-value registro-input-editable" data-id="@((int)Domain.Entities.Basic.ForntEndEditableType.PULSES_PLURAL)" data-type="text" value="@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.PULSES_PLURAL)"/>        
      </div>
    </div>
  </div>

  <div class="clear"></div>
    <div class="centrado">
  <div class="alerta-aceptar">
    <a>
      <h3>@ViewBag.SAVE</h3>
      <span></span>
    </a>
  </div>
        </div>
  <div class="clear"></div>
</div>
