@{
  Layout = null;
  string content = Url.Content("~/").TrimEnd('/');
  string value = Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.PULSE_VS);
}

<div id="editable-box" class="alerta">
  <div class="alerta-titulo">
    <h1>@ViewBag.VERSUS</h1>
    <div class="alerta-cerrar">
      <img src="~/resources/images/mimedellin/cerrar.png" border="0" alt="icon" />
    </div>
  </div>
  <div class="clear"></div>

  <div class="editable-content">
    <div class="registro-item">
      <div class="registro-txt">@ViewBag.TXTPULVS:</div>
      <div class="editable-input">        
        <input type="text" maxlength="25" class="editable-value registro-input-editable" data-id="@((int)Domain.Entities.Basic.ForntEndEditableType.PULSE_VS)" data-type="text" value="@value"/>        
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="clear"></div>
  <div class="centrado">
  <div class="alerta-aceptar">
    <a>
      <h3>@ViewBag.SAVE</h3>
      <span></span>
    </a>
  </div>
  </div>
  <div class="clear"></div>
</div>
