@model Webcore.Areas.Admin.Models.EmailNotificationTemplateModel
@{
  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section headers {
    <script src="@Url.Content("~/Resources/Scripts/jquery.fcbkcomplete.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jquerycl")
    <script type="text/javascript" language="javascript">
      var tempfiles = new Array();
      contentType = "FAQ";
      var editor;

      $(document).ready(function () {

        $.cleditor.defaultOptions.height = 500;
        $.cleditor.defaultOptions.width = 720;
        $.cleditor.defaultOptions.docCSSFile = '@Url.Content("~/Resources/Css/frontend.styles.css")'
        $.cleditor.buttons.image.uploadUrl = '@(Url.Action("UploadImage", "Content", new { Area = "Admin" }) + (Model.IContent != null && Model.IContent.ContentId != null ? "?id=" + Model.IContent.ContentId : ""))';

          (function ($) {
            $.cleditor.defaultOptions.docType = "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>";
            
          })(jQuery);
          editor = $('#EmailNotificationTemplate_Description').cleditor({ controls: "bold italic underline | bullets numbering | link unlink | image" });
          $(".cleditorMain iframe").each(function (index, obj) {
            $(obj).contents().find('body').bind('paste', function () {
              setTimeout(function () {
                editor[index].updateTextArea(editor[index]);
                var plainText = editor[index].$area.val();
                $(editor[index].doc.body).html("");
                $(editor)[0].doc.execCommand("inserthtml", 0, plainText);
              }, 100);
            }); 
          });
        });
     </script>
}

<div align="right">
  <ul id="MenuP">
    <li class="Menubig">@Resources.Global.Messages.DETAIL</li>
    <li>@Resources.Global.Messages.LIST</li>
  </ul>
  <div class="cont" align="left">
    @using (Html.BeginForm("Create", "EmailNotification", new { Area = "Admin" }, FormMethod.Post, new { id = "Form1", enctype = "multipart/form-data" }))
    {
      @Html.ValidationSummary()
      @Html.Hidden("GetOut", "0")
      @Html.Hidden("TempFiles")
      <hr />
      <div id="deepfolloweradmin">
        @Model.DeepFollower
      </div>
      @Html.Partial("_ContentPartial", Model);
      <div class="separator">
      </div>
      <div align="center" id="dvadicional" style="clear: both;">
        <h3>
          <img width="20" height="20" src="~/resources/images/nextwhite.png" /><span>@Resources.Global.Messages.ADDITIONAL_INFORMATION</span>
        </h3>
        @Html.HiddenFor(t => t.EmailNotificationTemplate.ContentId)
        <ul class="template" id="fields">
          <li>
            Nombre remitente<br />
            @Html.EditorFor(t => t.EmailNotificationTemplate.SenderName)
          </li>
          <li>
            Mensaje notificación *<br />
            @Html.EditorFor(t => t.EmailNotificationTemplate.Description)
          </li>
        </ul>
      </div>
    }
    <div align="center" id="contentactions">
      <img onclick="$('#Form1').submit()" title="@Resources.Global.Messages.SAVE_EXIT" src="~/resources/images/45savewout.png" />
      @if (Model.IContent != null && Model.IContent.ContentId != null)
      {
        <img onclick="$('#GetOut').val('1');$('#Form1').submit()" title="@Resources.Global.Messages.SAVE" src="~/resources/images/45savew.png" />
      }
      <img onclick="window.location.href='@Url.Action("Index", "Content", new { Area = "Admin", mod = Model.Module.ModulId })'" title="@Resources.Global.Messages.CANCEL" src="~/resources/images/45cancelw.png" />
    </div>
  </div>
</div>
<script>
  $('#imageSelected').parent().remove();  
  $('#content-tags').remove();
  $('#content-template').hide();
  $('#cnrigth').hide();
  $('#content-featured').hide();
  $('#content-widget').hide();
  $('#content-background-image').hide();
  $('.divcheck').hide();
  $('#short-description').append(' (Asunto)');
</script>
