@model Webcore.Areas.Admin.Models.BlogEntryModel
@{
  Layout = null;  
  string content = Url.Content("~/").TrimEnd('/');
  bool result = false;
  if(ViewBag.Result != null)
  {
    result = ViewBag.Result;
  }
}  
@if (result)
{
  <script>
    parent.iFrameImageLoaded = true;
    parent.loadBlogEntry(@Model.IContent.ContentId);
    parent.closeColorbox();
  </script>
}
else
{
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Formulario</title>
  
  <link href="@content/resources/css/styles.css?10" rel="stylesheet" type="text/css" />
  <link href="@content/resources/css/media.css?10" rel="stylesheet" type="text/css" />
  <link href="@content/resources/css/jquery-ui-1.10.3.css" rel="stylesheet"/>
  <link href="@content/resources/css/jquery.cleditor.css" rel="stylesheet"/>

  <script src="@content/resources/scripts/jquery-1.7.1.js"></script>
  <script src="@content/resources/scripts/jquery.unobtrusive-ajax.js"></script>
  <script src="@content/resources/scripts/jquery.validate.js"></script>
  <script src="@content/resources/scripts/jquery.validate.unobtrusive.js"></script>
  <script src="@content/resources/scripts/jquery.admin.utils.js"></script>
  <script src="@content/resources/scripts/jquery-ui-1.10.3.js"></script>

  <script src="@Url.Content("~/Resources/Scripts/jquery.fcbkcomplete.min.js")" type="text/javascript"></script>
  @System.Web.Optimization.Scripts.Render("~/bundles/jquerycl")
  <script type="text/javascript" language="javascript">
    var pathg = '@Url.Content("~/")';
    var tempfiles = new Array();
    var editor;
    var iFrameImageLoaded = true;
    parent.iFrameImageLoaded = true;

    function sendFormBlog() {
      var valid = true;
      
      if (!$('#BlogEntry_Description').valid()) {
        valid = false;
      }

      if (!$('#blog-entry-form').valid()) {
        valid = false;
      }

      if (valid) {
        if ($('#VID0').val().length == 0) {
          removeVideo();
        }
        
        $('#blog-entry-form').submit()
      }
    }

    function checkIframeImageLoaded(id) {      
      if (!iFrameImageLoaded) {
        iFrameImageLoaded = true;        
        $('#' + id).attr('src', $('#' + id).attr('src'));
        $('#error-file').show();
        $('#image-preview-container').hide();
        $('#contentImage').val('');
        $('.frame-image-view').empty();
        removeVideo();
      }
    }

    $(document).ready(function () {

      if ($('#is-ie').length) {        
        $['browser'] = { msie: true };
      }
      else {
        $['browser'] = { msie: false };
      }

      $.cleditor.defaultOptions.height = 205;
      $.cleditor.defaultOptions.width = 539;
      $.cleditor.defaultOptions.docCSSFile = '@Url.Content("~/Resources/Css/frontend.styles.css")'
      $.cleditor.buttons.image.uploadUrl = '@(Url.Action("UploadImage", "Content", new { Area = "Admin" }) + (Model.IContent != null && Model.IContent.ContentId != null ? "?id=" + Model.IContent.ContentId : ""))';
      hideTemplates('blog');
      $('#blog-entry-form').submit(function (event) {
        var valid = true;

        $('#contentNeeded').remove();
        if ($('#BlogEntry_Description').val() == "") {
          valid = false;
        }

        if (!valid) {
          if ($('.validation-summary-valid li').length <= 1 && $('.validation-summary-valid li').html() == '') {
            $('.validation-summary-valid').removeClass('validation-summary-valid').addClass('validation-summary-errors');
          }
          $('.validation-summary-errors ul').append('<li id="contentNeeded">Debes ingresar un contenido</li>');
          event.preventDefault();
        }
      });
      (function ($) {
        $.cleditor.defaultOptions.docType = "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>";
        $.cleditor.defaultOptions.updateTextArea = function (html) {
          var regAttr = /([a-zA-Z0-9-]*=")([_&-a-zA-Z0-9:;\.\s\(\)\-\,]*)(")/gi;
          var regComments = /<!--[\s\S]*?-->/gi;
          var regTags = /<[\/]{0,1}(h[0-9])[^><]*>/gi

          html = html.replace(regAttr, '');
          html = html.replace(regComments, '');
          html = html.replace(regTags, '');

          return html;
        };
      })(jQuery);
      editor = $('#BlogEntry_Description').cleditor({ controls: "bold italic underline | bullets numbering | link unlink" });
      $(".cleditorMain iframe").each(function (index, obj) {
        $(obj).contents().find('body').bind('paste', function () {
          setTimeout(function () {
            editor[index].updateTextArea(editor[index]);
            var plainText = editor[index].$area.val();
            $(editor[index].doc.body).html("");
            $(editor)[0].doc.execCommand("inserthtml", 0, plainText);
          }, 100);
        });
      });
    });
  </script>
</head>
<body>
  <!--[if IE ]>
  <div id="is-ie"></div>
  <![endif]-->
  <div class="alerta-titulo">
        <h1>@(Model.IContent.ContentId.HasValue ? "Edita la Noticia" : "Nueva Noticia")</h1>
        <a onclick="parent.closeColorbox();" class="alerta-cerrar"><img src="~/resources/images/mimedellin/cerrar.png" border="0" alt="icon" /></a>
    </div>
  <div class="mm2-container-create-form">    
    <div style="margin:43px;">
    @using (Html.BeginForm("Create", "BlogEntry", FormMethod.Post, new { id = "blog-entry-form", enctype = "multipart/form-data" }))
    {
      @Html.Partial("_BlogEntryContent", Model);
      
      <label class="text-label-create">@ViewBag.TXTESCAQUICON</label>
      <div class="clear"></div>      
      @Html.EditorFor(t => t.BlogEntry.Description)
      <br>
      <div class="alert-create">@Html.ValidationMessageFor(v => v.BlogEntry.Description)</div>
      <br />
      
      @Html.Hidden("GetOut", "0")
      @Html.Hidden("TempFiles")
      @Html.HiddenFor(t => t.BlogEntry.ContentId)
      <div class="buttons-confirm-create">
        <input class="button-create-news" onclick="parent.closeColorbox();" type="button" value="Cancelar">
        <input class="button-create-news" onclick="sendFormBlog();" type="button" value="Subir">
      </div>
    }    
    </div>
  </div>
</body>
</html>
}
