@model Webcore.Models.ILayout
@using System.Web.Optimization;
@using System.Configuration;
<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>@Model.PageTitle</title>
  @if (Model.MetaTags != null)
  {
    foreach (KeyValuePair<Domain.Entities.KeyValue, Domain.Entities.KeyValue> item in Model.MetaTags)
    {
    <meta @item.Key.Key="@item.Key.Value" @item.Value.Key="@Html.Raw(item.Value.Value)" />
    }
  }
  <link href="@Url.Content("~/resources/images/current/favicon.png")" rel="icon" type="image/x-icon" />
  <link href="~/resources/css/styles.css?10" rel="stylesheet" type="text/css" />
  <link href="~/resources/css/media.css?10" rel="stylesheet" type="text/css" />
  <link href="~/resources/css/colorbox.css" rel="stylesheet" type="text/css" />
  <link href="~/resources/css/pickmeup.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <script src="~/Resources/Scripts/jquery-1.11.3.min.js"></script>
  <script src="//www.google.com/jsapi"></script>
  <script src="~/resources/scripts/jquery.colorbox.min.js"></script>
  <script src="~/resources/scripts/jquery.tinyscrollbar.min.js"></script>
  <script src="~/resources/scripts/jquery.validate.min.js"></script>
  <script src="~/resources/scripts/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/resources/scripts/jquery.autosize.min.js"></script>
  <script src="~/resources/scripts/jquery.pickmeup.min.js"></script>
  <script src="~/resources/scripts/jquery.placeholder.min.js"></script>
  <script src="~/resources/scripts/jquery.stellar.min.js"></script>
  <script src="~/Resources/Scripts/modalbootsrap.js"></script>
  <script src="~/resources/scripts/main.js?10"></script>
  <script src="~/resources/scripts/apm.js?10"></script>  
  <script src="~/resources/scripts/jquery.placeholder.min.js"></script>
  <script src="~/resources/scripts/masonry.pkgd.min.js"></script>
  
 <script src="~/resources/scripts/jquery.placeholder.min.js"></script>
 
<link href="~/Resources/Css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Resources/Scripts/greensock/plugins/ScrollToPlugin.min.js"></script>
<link href="~/Resources/Css/flexnav.min.css" rel="stylesheet" />
<link href="~/Resources/Css/main.css" rel="stylesheet" />
<link href="~/Resources/Css/main2.css?10" rel="stylesheet" />
<link href="~/Resources/Css/animate.min.css" rel="stylesheet" />

  <script>
    var path = '@Url.Content("~").TrimEnd('/')';
    var siteUrlRoot = document.location.protocol + '@(("//" + Request.Url.Host + Request.ApplicationPath).TrimEnd('/'))';
    var authenticated = @(User.Identity.IsAuthenticated ? "true" : "false");
  </script>
  <script>
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  </script>
  <script>
    (function () {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js?onload=googleCallback';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: @(System.Configuration.ConfigurationManager.AppSettings["LinkedInApiKey"])
        authorize: true
        credentials_cookie: true 
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(System.Configuration.ConfigurationManager.AppSettings["GoogleApiKey"])&sensor=false&language=es"></script>
  <script>
    !function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s); js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, 'script', 'twitter-wjs');
  </script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '@(System.Configuration.ConfigurationManager.AppSettings["GoogleAnalyticsID"])', 'citiesfor.life'); ga('send', 'pageview');
  </script>
</head>
<body style="background-color:@Business.Utils.GetFronEndValue(Domain.Entities.Basic.ForntEndEditableType.BACKGROUND_COLOR)">
  <!--[if IE ]>
  <div id="is-ie"></div>
  <![endif]-->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '@(System.Configuration.ConfigurationManager.AppSettings["FacebookAppID"])',
              channelUrl: siteUrlRoot + '/channel.aspx',
              status: true,
              cookies:true,
              xfbml: true,
              version:'v2.4'
            });
        };

          (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
  </script>
  <script type="text/javascript">
    (function() {
      var hm = document.createElement('script'); hm.type ='text/javascript'; hm.async = true;
      hm.src = ('++u-heatmap-it+log-js').replace(/[+]/g,'/').replace(/-/g,'.');
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(hm, s);
    })();
  </script>
  @Html.Action("PrimaryMenu", "Seccion", new
        {
          parent = (Model.Section != null && Model.Section.ParentId != null ? Model.Section.ParentId.Value : 0),
          mod = (Model.Section != null && Model.Section.SectionId != null ? Model.Section.SectionId.Value : 0),
          languageId = Model.CurrentLanguage.LanguageId.Value,
          ideasCountAll = Model.IdeasCountAll
        })
  <div class="clear"></div>

  @RenderBody()
  <div class="clear"></div>
  @Html.Partial("_Footer")
  @Html.Partial("_SystemAlert")
  @Html.Partial("_SystemConfirm")
  @Html.Partial("_UserCard")
  @Html.Partial("_SystemReason")
  @Html.Partial("_SystemTerms")
  @Html.Partial("_SystemPrivacy")
  <a id="hidden-blank" target="_blank" href=""></a>
  @*<script>
    brokenImage();
  </script>*@
</body>
</html>
